h1 {
    color: blue;
}

p{
    color: rgb(255, 196, 0);
}

#arno{
    color: red;
    font-size: 20px;
}

.word{
    color: blueviolet;
}

#superdestroyer{
    transform: scale(0.2, 0.2) translate(-3700px, -2000px);
}

#helldiversII{
    transform: translate(-55px, -890px) scale(0.6);
}